body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px 60px;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 25px;
  color: #333333;
  margin: 50px 0px 30px 0px;
  text-align: center;
}

.article-title {
  color: #333333;
  margin: 15px 0px;
  font-size: 1.5rem;
}

p {
  color: #333333;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.1px;
}

img {
  height: 700px;
  margin: auto;
  display: block;
}

.customize-icon {
  font-family: auto;
  font-size: 20px;
  position: fixed;
  padding: 8px 13px;
  background-color: #4183c4;
  border-radius: 50px;
  top: 20px;
  cursor: pointer;
  right: 20px;
  color: #fefefe;
}

.customize-option {
  background-color: #fafafa;
  position: fixed;
  right: 25px;
  top: 64px;
  display: none;
  box-shadow: -6px 9px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.active {
  display: block;
}

.buttons {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.buttons:last-child {
  border-bottom: none;
}

.buttons button {
  background: none;
  font-size: 20px;
  color: #a6a6a6;
  border: none;
  padding: 10px 20px;
  font-family: auto;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.buttons button:hover {
  color: #333333;
}

.font-large {
  font-size: 25px;
}

.font-reduce {
  font-size: 16px;
}

a {
  color: #4183c4;
  text-decoration: none;
}
